@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Montserrat:300,400,700");
body {
  padding: 5% 10%;
  font-family: 'Montserrat';
}

.cont {
  display: flex;
  justify-content: space-evenly;
}

.tile {
  border-radius: 0.5em;
  border-color: #3700b3;
  border-width: 1.5px;
  border-style: solid;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.125);
  background-color: #6200ee;
  padding: 0;
  min-height: 15vh;
}

.tile-body {
  padding: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.tile-header {
  text-align: center;
  color: #ffffff;
}

.tile-number {
  color: #ffffff;
  text-align: center;
}

.tile-icon {
  position: absolute;
  right: -1.5em;
  bottom: -1.5em;
  height: 5em;
  width: 5em;
  float: right;
  color: #d4bff9;
  opacity: 0.3;
}

.form-wrapper {
  padding-top: 3em;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

.form-group {
  display: flex;
  flex-direction: column;
  min-height: 25vh;
}

.form-group-label {
  padding-top: 0.5em;
}

.form-group-button {
  margin-top: auto;
  border-radius: 0;
}

.form-group-button.add {
  border-color: #81c784;
  background-color: #81c784;
  color: #000000;
}

.form-group-button.sub {
  border-color: #b00020;
  background-color: #b00020;
  color: #ffffff;
}

.alert {
  display: none;
}

.showItem {
  display: block;
  text-align: center;
}

.expense-icons a:hover {
  text-decoration: none;
}
